* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.block {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.block .content img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;

}

.block .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 50px;
}